.navigation-info__icon{
    fill: #757575;
    margin-right: 10px;
  }
  
  .email:hover .navigation-info__icon,
  .email:focus .navigation-info__icon {
    fill: #2196F3;
  }
  
  .phone:hover .navigation-info__icon,
  .phone:focus .navigation-info__icon {
    fill: #2196F3;
  }
  
  .header {
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    column-gap: 93px;
  }

  .navigation-info {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  
 
    
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
    transition: color 250ms var(--transition-timing-function);
    position:relative;
  }
  
  .menu__link.menu__link_active::after, .menu__link::after{
      content:'';
      position:absolute;
      left:0;
    bottom: -33px;
      display:block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition: background-color 250ms var(--transition-timing-function);
    background-color: #2196F3;
  }
  
  .menu__link::after{
    background-color: transparent;
  }
  
  .menu__link:hover::after{
    background-color: #2196F3;
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: #2196F3;
  }
  
  .email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-flex;
    align-items: center;
    color: var(--grey-color);
  }
  
  .email:hover,
  .email:focus {
    color: var(--accent-color);
    transition: color 250ms var(--transition-timing-function);
  }
  
  .phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    display: inline-flex;
    align-items: center;
  }
  
  .phone:hover,
  .phone:focus {
    color: var(--accent-color);
  }
  
  address {
    font-style: normal;
  }