.hero-container {
    display: flex;
  }

  .section-black {
    background-color: #2f303a;
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-size:cover;
    margin: auto;
  }
  
  .section-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
