.work {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .work__item {
    flex-basis: 370px;
    width: 294px;
  }
  
  .work {
    padding-top: 0;
  }